#app {
    position: relative;
    display: flex;
    flex-direction: column;
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }

.blazor-error-boundary {
    background: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNTYiIGhlaWdodD0iNDkiIHZpZXdCb3g9IjAgMCA1NiA0OSIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTE5LjQzNzUgMTQuNDM3NUwyOC4xMjUgNS43NUwzNi44MTI1IDE0LjQzNzVIMTkuNDM3NVoiIGZpbGw9IiNGRjAwMDAiLz4KPHBhdGggZD0iTTE5LjQzNzUgMTQuNDM3NUwyOC4xMjUgNS43NUwzNi44MTI1IDE0LjQzNzVIMTkuNDM3NVoiIGZpbGw9IiNGRjAwMDAiLz4KPHBhdGggZD0iTTI4LjEyNSAyOC4xMjVMMTkuNDM3NSAzNi44MTI1TDI4LjEyNSA0NS41TDM2LjgxMjUgMzYuODEyNUwyOC4xMjUgMjguMTI1WiIgZmlsbD0iI0ZGRkZGRiIvPgo8L3N2Zz4K) no-repeat 1rem/1.8rem, #b32121;
    padding: 1rem 1rem 1rem 3.7rem;
    color: white;
}

    .blazor-error-boundary::after {
        content: "An error has occurred.";
    }

